<html>
  <head>
    <style type="text/css">
      body {
        font-family: sans-serif;
        background-color: #cc99ff;
      }

      h1 {
        color: #ff3399;
        background-color: #ffcccc;
      }
    </style>
  </head>
  <body>
    <div align="center">
    <br />
    <br />
    <h1>Happy Birthday <%= @name %>!</h1>
    <br />
    <h1>Have a FABULOUS day :)</h1>
    <img src="http://www.keepcalmstudio.com/_gallery/1500/kcs_03b7321e.png" width="500" height="650" >
    </div>
  </body>
</html>
