<% require 'date' %>
<% @startdate = Date.today %>
<% @enddate = Date.parse(@birthday) %>
<% @num = (@startdate ... @enddate).count %>
<% if @num == 0 %>
<% redirect '/birthday-greeting'%>
<% else %>
<html>
  <head>
    <style type="text/css">
      body {
        font-family: sans-serif;
        background-color: white;
      }

      h1 {
        color: #cc3300;
        background-color: gainsboro;
      }
    </style>
  </head>
  <body>
    <br />
    <br />
  <div align="center">
    <h1>Your birthday will be in <%= @num %> days, <%= @name %> </h1>
    <br />
    <img src="http://www.keepcalmstudio.com/_gallery/1500/100lQ8q.png" width="500" height="650" >
    </div>
<% end %>
  </body>
</html>
